html {
  box-sizing: border-box;
}

*,
::after ::before {
  box-sizing: inherit;
}

.body {
  max-width: 1000px;
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
  margin: 30px auto;
  color: #292929;
  word-break: break-word;
}

@media (max-width: 767px) {
  .body {
      grid-template-columns: 1fr;
      padding: 10px;
  }
}