.buttons__button {
    display: flex;
    flex-wrap: wrap;
    border: none;
    color: hsl(180, 100%, 25%);
    border-radius:  5px;
    padding: 10px;
    transition: 0.5s;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid lightgray;
    margin: none;
}

@media(max-width:767px) {
    .buttons__button {
        flex-direction: column;
    }
}


.buttons__button:hover {
    color: hsl(180, 100%, 35%)
}

.buttons__button:active {
    color: hsl(180, 100%, 20%)
}

.buttons__button.buttons__buttons:disabled {
    color: #ddd;
    cursor: not-allowed;
}